<template>
	<div class="modal" :class="openmodal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Modal title</p>
				<button class="delete" aria-label="close" @click="closemodal"></button>
			</header>
			<section class="modal-card-body">
					<div class="field">
						<label class="label">Name</label>
						<div class="control has-icons-left">
							<input class="input" :class="{'is-danger':errors.name}" type="text" placeholder="Enter Your Name" v-model="list.name">
							<span class="icon is-small is-left">
								<i class="fa fa-user"></i>
							</span>
							<small v-if="errors.name" class="has-text-danger">{{errors.name[0]}}</small>
						</div>
					</div>

					<div class="field">
						<label class="label">Phone Number</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" :class="{'is-danger':errors.phone}" type="number" placeholder="Phone Number" v-model="list.phone">
							<span class="icon is-small is-left">
								<i class="fa fa-phone"></i>
							</span>
							<small v-if="errors.phone" class="has-text-danger">{{errors.phone[0]}}</small>
						</div>
					</div>

					<div class="field">
						<label class="label">Email</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" :class="{'is-danger':errors.email}" type="email" placeholder="Email" v-model="list.email">
							<span class="icon is-small is-left">
								<i class="fa fa-envelope"></i>
							</span>
							<small v-if="errors.email" class="has-text-danger">{{errors.email[0]}}</small>
						</div>
					</div>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-success" @click="save">Save</button>
				<button class="button" @click="closemodal">Cancel</button>
			</footer>
		</div>
	</div>
</template>
<script>
	export default{
		props:['openmodal'],
		data(){
			return{
				list:{
					'name':'',
					'phone':'',
					'email':'',
				},
				errors:{},
			}
		},
		methods:{
			closemodal(){
				this.$emit('closeRequest')
			},
			save(){
				axios.post('/phonebook',this.$data.list).then((response)=>{
					this.closemodal()
					this.$parent.lists.push(response.data)
					this.$parent.lists.sort(function(a,b){
						if(a.name>b.name){
							return 1;
						}else if(a.name<b.name){
							return -1;
						}
					})
					this.list = "";
				})
				.catch((error)=>this.errors=error.response.data.errors);
			}

		}
	}
</script>