<template>
	<div class="modal" :class="deletedetail">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Alert</p>
				<button class="delete" aria-label="close" @click="closemodal"></button>
			</header>
			<section class="modal-card-body">
				<b>Are you sure you want to delete {{list.name}}'s detail?</b>					
			</section>
			<footer class="modal-card-foot">
				<button class="button is-success" @click="deleteItem">Delete</button>
				<button class="button" @click="closemodal">Cancel</button>
			</footer>
		</div>
	</div>
</template>

<script>
	export default{
		props:['deletedetail'],
		data(){
			return{
				list:"",
				errors:{},
			}
		},
		methods:{
			closemodal(){
				this.$emit('closeRequest')
			},
			deleteItem(){
				axios.delete(`/phonebook/${this.list.id}`).then((response)=>{
					this.closemodal()
					this.$parent.lists.pop(response.data)
				})
				.catch((error)=>this.errors=error.response.data.errors);
			}
		}
	}
</script>